/* Variables */
/* Global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: azure;
  text-decoration: none;
}

/* Utility Classes */
.btn {
  background-color: #004a85;
  color: #dcb766;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  margin: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #7f2b43;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #004a85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  color: #a4abbd;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.logo a {
  color: #dcb766;
  font-size: 2.5rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar ul {
  min-width: 30%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul li a {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.navbar ul li a:hover {
  color: #b75d73;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

/* HOME Hero */
.hero {
  min-height: 95vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 31, 99, 0.153)), to(rgba(118, 81, 36, 0.44))), url(/imgs/Hero.jpeg);
  background-image: linear-gradient(to bottom, rgba(10, 31, 99, 0.153), rgba(118, 81, 36, 0.44)), url(/imgs/Hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero h1 {
  width: 80%;
  margin: auto;
  font-size: 5rem;
  line-height: 7rem;
  margin: 0 1rem 1rem 1rem;
  font-family: "Montserrat", sans-serif;
}

.hero span {
  font-family: "Great Vibes", cursive;
  color: #dcb766;
  font-size: 8rem;
}

.hero p {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  line-height: 5rem;
  margin: 0 4rem;
}

/* HOME Details Section */
.details-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
}

.details-img {
  width: 55%;
  height: 70vh;
}

.details-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(60%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(60%, black), to(transparent));
          mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

.details {
  max-height: 100%;
  width: 45%;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.details h2 {
  font-size: 4rem;
  color: #7f2b43;
  padding-bottom: 2rem;
}

.details li {
  text-transform: capitalize;
  text-align: left;
  list-style: none;
  font-size: 2rem;
  line-height: 4rem;
  padding-bottom: 1.5rem;
  margin: 2rem 0;
  color: #2b2b2b;
}

/* HOME Amenities */
.amenities-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.amenities-section .box {
  text-align: center;
  padding: 1rem;
}

.amenities-section h3 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.amenities-section p {
  font-size: 1.2rem;
}

i {
  color: #7f2b43;
}

/* ABOUT Main */
.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

.about-main .left {
  width: 50%;
  margin: 2rem 0;
}

.about-main .left h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}

.about-main .left p {
  line-height: 4rem;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.about-main .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 2rem 2rem;
}

.about-main .right img {
  width: 100%;
  height: 100%;
  max-height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-main span {
  color: #7f2b43;
}

/* ABOUT Testimonial */
.testimonials-section {
  min-height: 60vh;
  background: url(/imgs/testimonials-section.jpeg) no-repeat center center/cover;
}

.testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
}

.testimonials-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: azure;
  padding: 2rem 0 1rem 0;
}

.testimonials-container h3 {
  line-height: 2rem;
  font-size: 1.9rem;
  color: azure;
}

.testimonials-container p {
  line-height: 3rem;
  font-size: 1.3rem;
  color: azure;
  margin-right: 1rem;
}

.testimonials-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 1rem;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 4rem 0;
  background-color: rgba(167, 167, 167, 0.4);
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 12px 4px #0000005a;
          box-shadow: 0px 5px 12px 4px #0000005a;
}

/* CONTACT Main */
.contact-main {
  min-height: 60vh;
  width: 80%;
  margin: auto;
}

/* CONTACT Form */
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container h2 {
  color: #7f2b43;
  margin-top: 4rem;
  font-size: 3rem;
}

.form {
  width: 66vw;
  height: 50vh;
  margin: 2rem;
  background-color: rgba(167, 167, 167, 0.1);
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 12px 4px #0000005a;
          box-shadow: 0px 5px 12px 4px #0000005a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .btn {
  width: 33%;
}

.form label {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.form input {
  min-width: 50%;
  max-width: 75%;
  height: 30px;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.form input:hover {
  border: #004a85 2px solid;
}

.form input:focus {
  background-color: #fafafa;
}

.form textarea {
  min-width: 50%;
  max-width: 75%;
  height: 200px;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.form textarea:hover {
  border: #004a85 2px solid;
}

.form textarea:focus {
  background-color: #fafafa;
}

/* CONTACT Info */
.contact-info {
  min-height: 30vh;
  width: 80%;
  margin: auto;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-container .box {
  text-align: center;
}

.contact-container h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.contact-container p {
  font-size: 1.2rem;
  padding: 1rem;
}

/* FOOTER */
footer {
  min-height: 5vh;
  background-color: #004a85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  width: 80%;
  margin: auto;
}

.footer-container h4 {
  color: #dcb766;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0;
  }
  .nav-links a {
    padding: 1rem;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .hero span {
    font-size: 2.5rem;
  }
  .details-section h2 {
    font-size: 1.5em;
  }
  .details-section .details li {
    padding-bottom: 0;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
  }
  .btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .footer-container h4 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1080px) and (min-width: 769px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero p {
    font-size: 2rem;
  }
  .hero span {
    font-size: 5rem;
  }
  .details-section h2 {
    font-size: 1.5em;
  }
  .details-section .details li {
    font-size: 0.72rem;
    text-align: center;
  }
  .btn {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
  }
  .footer-container h4 {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */